@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


body {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.App {
  margin: 0;
  width: 100%;
  height: 100%;
}


.container {
  padding: 0px 40px 40px 40px;
}

.left {
  position: fixed;
  width: 50%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #6b8068;
  z-index: -1;
  height: 100%;
}

.right {
  background-color: #cfb59a;
  position: fixed;
  width: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
}



.header p {
  margin: 0 auto;
  color: #ffffff;
  cursor: pointer;
}

.header img {
 width: 100px;
 margin-left: 0px;
}

.navbar {
  padding: 10px 0px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
/* BODY */

.slogan{
  margin: 0 auto;
  width: 90%;
  text-align: center;
  font-size: 2rem;
  color:white;
  font-family: "Stylish", "sans-serif";
}

.freco{
  color:#9B5C35;
  font-size: 2.5rem;
  font-weight: bold;
}

.container-body {
  margin-top: 8%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container-left,
.container-right {
  margin-top: 0%;
  color: #ffffff;
  width: 350px;
}

.container-left {
  animation: slidein1 1.5s forwards;
}

.title-left {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideinimg 1.5s forwards;
  padding: 0px 50px;
}

.container-center img {
  margin-top: -50px;
  width: 500px;
  transform: translateY(0px);
}

.container-right {
  animation: slidein 1.5s forwards;
}

.title-right {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

/* ------ QUI SOMMES NOUS ------ */
.qui {
  margin-top: 150px;
  color: #ffffff;
}

/* ------ SECTION PRODUIT ------ */

.container-produit {
  margin-top: 100px;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.container-cards {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
}

/* CARD */

.card {
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px 40px;
  width: 30%;
  transition: transform 0.5s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
}

.card p {
  margin: 0;
}

.card-img {
  width: 100%;
  position: relative;
}

.card-img img {
  margin-top: 30px;
  width: 100%;
  background-color: #ebf0e6;
}

.price {
  position: absolute;
  bottom: -10px;
  left: -10px;
  background-color: #76b536;
  color: #ffffff;
  padding: 20px 15px;
}

.card .text {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.text-description {
  padding-top: 20px;
}

.container-button {
  margin-top: auto;
}

button {
  background-color: #76b536;
  outline: none;
  border: none;
  padding: 20px;
  color: #ffffff;
  border: 1px solid transparent;
  transition: all 0.2s;
  float: right;
  margin-top: 30px;
}

button:hover {
  border: 1px solid #76b536;
  background-color: #ffffff;
  color: black;
}


.button-img{
  position: absolute;
  bottom: 0;
  right: 0;
}

.description-title{
  color:#76b536;
  font-size: 1rem;
}

.garde-manger{
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .container-center img {
    width: 300px;
  }
  .container-body {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
  .container-left,
  .container-right {
    margin-top: 0;
    width: 100%;
    color: #ffffff;
  }

  .container-center {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .container-center img {
    margin-top: 0px;
  }

  .container-cards {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    margin: 0 auto;
    width: 90%;
  }
  .card {
    width: 50%;
    margin: 50px auto;
  }
}

@media screen and (max-width: 560px) {
  .container-center img {
    width: 200px;
  }
  .card {
    width: 90%;
    margin: 50px auto;
  }
  .container-left,
  .container-right {
    width: 100%;

  }


.button-img{
  right: initial;
}
}

@keyframes door {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slidein1 {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideinimg {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
